!!! XML
!!!
%html
  %head
    %title= @title
    = yield_content :css
    = yield_content :include
  %body
    #ness-image
      %a{ :href => "/" }
        %img{ :src => "img/LargeChicletNoBG.png" }

    #header
      =haml :header, :layout => false
    #navigation
      =haml :navigation, :layout => false
    #content
      =yield
    #footer
      =haml :footer, :layout => false
