- tools.each do |tool|
  - if tool["type"] == "menu"
    %li
      %a{ :href => "#"} #{tool["name"]}
      %ul
        = haml :left_navigation_item, :locals => {:tools => tool["items"]}
  - else
    %li
      %a{ :href => tool["type"] == "inline" ? tool["path"] : tool["url"], :onclick => "setTimeout(function() {window.location='#{tool["path"]}'}, 10); return false;" } #{tool["name"]}
