- tools.each do |tool|
  - if tool["type"] == "menu"
    %li
      %a{ :href => "#"} #{tool["name"]}
      %ul
        = haml :left_navigation_item, :locals => {:tools => tool["items"]}
  - else
    %li
      %a{ :href => tool["url"]} #{tool["name"]}
      -#:onclick => "setTimeout(function() {window.location='#{tool["path"]}'}, 10); return false;"
