- tools.each do |tool|
  - if tool["type"] == "menu"
    %li
      %a{ :href => "#"} #{tool["name"]}
      %ul
        = haml :left_navigation_item, :locals => {:tools => tool["items"]}
  - else
    %li
      %a.link{ :href => tool["type"] == "inline" ? tool["path"] : tool["url"], :"data-link" => tool["path"] } #{tool["name"]}
